body {
	width: 100%;
}

article {
	width: 50em;
}

h1 {
	width: 100%
}

img {
	width: 100%;
	max-width: 100%;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}