article {
  margin: 0 auto;
  max-width: 50em;
}

body {
  font-family: sans-serif;
  margin: 2em;
}

h1 {
  margin: 0 auto 1em auto;
  width: 800px;
}

img {
  max-width: 100%;
}

#social {
	list-style-type: none;
	text-align: center;
}

#social li {
	display: inline;
	padding-left: 5%;
	padding-right: 5%;
}

#social a {
	text-decoration: none;
}
